<div class="p-3 w-full h-full flex items-center justify-center">
  <form
    [formGroup]="productForm"
    (ngSubmit)="editProduct()"
    class="bg-neutral-800 w-full max-w-2xl py-8 rounded-xl p-3 flex flex-col gap-3 items-center justify-center"
  >
    <h6 class="p-3 rounded-xl bg-black w-full text-center">
      Edit Product Details
    </h6>

    <input
      type="text"
      name="title"
      formControlName="title"
      placeholder="Enter your title"
      class="w-full text-xl bg-black rounded-full p-2"
    />
    <input
      type="text"
      name="thumbnail"
      formControlName="thumbnail"
      placeholder="Enter your thumbnail"
      class="w-full text-xl bg-black rounded-full p-2"
    />
    <input
      type="number"
      name="price"
      formControlName="price"
      placeholder="Enter your Price"
      class="w-full text-xl bg-black rounded-full p-2"
    />
    <button
      type="submit"
      class="text-xl bg-blue-500 rounded-xl hover:bg-blue-600 w-full p-2 text-center"
    >
      Edit Product
    </button>
  </form>
</div>
